FractalMaker/.vs/
FractalMaker/FractalMaker/FractalMaker.vcxproj.filters
FractalMaker/FractalMaker/FractalMaker.vcxproj
FractalMaker/FractalMaker/FractalMaker.vcxproj.user
*.bmp
FractalMaker/Debug/
FractalMaker/FractalMaker/Debug/
FractalMaker/FractalMaker/.vs/FractalMaker/v16/
FractalMaker/FractalMaker/FractalMaker/Debug/FractalMaker.tlog/CL.command.1.tlog
FractalMaker/FractalMaker/FractalMaker/Debug/
FractalMaker/FractalMaker/FractalMaker/.vs/
