FractalMaker/.vs/
FractalMaker/FractalMaker/FractalMaker.vcxproj.filters
FractalMaker/FractalMaker/FractalMaker.vcxproj
FractalMaker/FractalMaker/FractalMaker.vcxproj.user
*.bmp
FractalMaker/Debug/
FractalMaker/FractalMaker/Debug/
